#Common active directories in Debian, Redhat that can be excluded

/tmp
/var/log
/var/cache
/var/run
/proc
/sys
/dev


#Common active directories in Windows 10 and 11 that can be excluded

#C:\Windows\Temp
#C:\Windows\Logs
#C:\Windows\CSC
#C:\Windows\System32\winevt\Logs
#C:\Windows\SoftwareDistribution\DataStore\Logs
#C:\Windows\Prefetch
#C:\Windows\Installer

#Common active directories in Darwin
#/private
#/dev
#/System/Volumes
#/Library
